APP_NAME=PaymentHub
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://peye.smartdealz.tech

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=payment_hub
DB_USERNAME=root
DB_PASSWORD=

PAYMENT_HUB_SECRET=CHANGE_ME_SECRET // Change this to a secure random string, name change from PAYMENT_HUB_SECRET=CHANGE_ME_SECRET
UPLOAD_MAX_SIZE=5120
